nav {
  display: flex;
  align-items: row;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 55px;
  
}
.list {
  display: flex;
  margin-right: 45px;
  
  
}
.list :nth-child(1) { order: 1; }
.list :nth-child(5) { order: 5; }
.list :nth-child(3) { order: 4; }
.list :nth-child(2) { order: 5; }
.list :nth-child(4) { order: 5; }

.list-item {
  display: flex;
  margin-top: 15px;
  margin-right: 48px;
  font-size: 29px;
  font-weight: bold;
  font-family: fantasy;
}
.list li:first-child {
  
  left: 200px;
  top: 0
}
.list-item:hover {
  text-decoration: underline;
}
.button-group {
  display: flex;
  margin-right: 35px;
  margin-top: 27px;
  
}
.nav-button {
  background-color: white;
  font-size: 25px;
  border-radius: 15px;
  margin-right: 25px;
  width: 158px;
  border-width: 0.2ch;
  height: 40px;
  color: gray;
  
}
.search-icon {
  margin-right: 15px;
  font-size: 10px;
}
.hero-container {
  margin-left: 60px;
  margin-top: 60px;
}
.square {
  
  margin-left: 180px;
}
.hero-container-right {
  margin-top: -435px;
  margin-left: 520px;
}
.hero-heading {
  font-family: monospace;
  font-size: 60px;
}
.hero-description {
  width: 580px;
  margin-left: 100px;
  color: grey;
  font-size: 17px;
  margin-top: -5px;
  font-style: oblique;
}
.button-email {
  margin-top:50px ;
  margin-left: 180px;
  width: 215px;
  height: 35px;
  font-size: 21px;
  border-radius:15px ;
  font-family: monospace;
  background-color: white;
}
.button-join {
  margin-top:70px ;
  margin-left: 18px;
  width: 125px;
  height: 35px;
  font-size: 21px;
  border-radius:15px ;
  font-family: monospace;
  background-color: black;
  color: white;
}
.contact-heading {
  color: gray;
  font-size: 22px;
  margin-left: 310px;
  margin-top: 75px;
}
.icons {
  margin-left: 268px;
  margin-top: -10px;
}